.dynamic__container {
	display:none;
	height:50px;
	&.show{
		display: flex;
		flex-direction:row;
		height:100vh;
		@include respond-to(medium){
			flex-direction: column;
			align-items:center;
			height:auto;
		}
		.wrapper__small{
			@include respond-to (small){
				max-width: 100%;
				}
		}

		.dynamic__left{
			width:calc(50% - 30px);
			padding:120px 90px 120px 90px;
			box-shadow: 10px 10px 10px lighten($ruGrey, 10%);
			margin-bottom: 50px;
			margin-top: 50px;
			background: black;
			@include respond-to(medium){
				padding:90px 70px 90px 70px;
				width:70%;
			}
			@include respond-to(small){
				width:90%;
			}
		}

		.dynamic__right{
			width:60%;
			padding-left: 50px;
			@include respond-to(x-large){
				width:50%;
			}
			@include respond-to(medium){
				padding-left: 0;
				padding-top: 20px;
				text-align:left;
				height:100%;
			}
			@include respond-to(small){
				width:100%;
			}
		}	
		.queenName{
			font-size: 40px;
			text-transform: uppercase;
			color:$ruPink;
		}

		.drag{
			font-family: $headerFont;
			font-size: 40px;
			color: $ruPink;
		}

		.orange_text2{
			color:$ruGrey;
			font-size: 30px;
		}
	}
}


