body{
	background: white;
	font-family: $bodyFont;
}

.wrapper {
	margin: 0 auto;
	max-width: 1170px;
}

h2{
	color:$ruGrey;
	font-size:36px;
	@include respond-to(large){
		font-size: 28px;
	}
	@include respond-to(medium){
		font-size: 24px;
		margin: 0;
	}
}
h3{
	color:$ruPurple;
	font-size: 30px;
	@include respond-to(x-large){
		font-size:26px;
	}
	// text-transform: uppercase;
}

audio{
	display:hidden;
}

button{
	border:none;
	border:3px solid $ruPink;
	border-radius: 40px;
	background: $ruPink;
	color:white;
	padding:10px 20px 10px 20px;
	font-size: 26px;
	@include respond-to(medium){
		font-size:16px;
		margin-top: 10px;
	}
	&:hover{
		background: $ruPurple;
		border:3px solid $ruPurple;
		transition: all ease-in-out 0.3s;
	}
}

