// colours
$ruPink: rgb(255, 0, 140);
$ruPink2: rgba(255, 0, 140, 0.2);
$ruPurple: rgb(91, 0, 170);
$ruGrey: rgb(51, 51, 51);

// fonts

$headerFont: 'Monoton', cursive;
$bodyFont:'Source Sans Pro', sans-serif;
